*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
  margin: 0;
	min-width: $site-min-width;
	font-family: $font-family, Arial, sans-serif;
  color: $text-color-main;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	width: 100%;
}

/***reset default styles***/
input[type="search"],
input[type="submit"],
input[type="text"],
input[type="tel"],
input[type="number"] {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
caret-color: inherit;
outline: none;
}

/***placeholder opacity control in Firefox***/
::-moz-placeholder, :-moz-placeholder {
  opacity: 1;
}

input[type="file"] {
  position: absolute;
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}
